/* General Container */
#form-registration {
  margin: 3%;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: var(--white);
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
              0px 59px 36px rgba(0, 0, 0, 0.05), 
              0px 26px 26px rgba(0, 0, 0, 0.09),
              0px 7px 15px rgba(0, 0, 0, 0.1), 
              0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

#date-time{
  /*display: flex;*/
}

/* Input Fields Container */
table {
  width: 100%;
  padding: 10px;
}

td {
  padding: 8px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="time"], select {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--text-color);
  filter: drop-shadow(0px 1px 0px #efefef)
          drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px var(--primary-color);
  background-color: var(--accent-color);
}

/* Aggiungi box-sizing per una larghezza coerente */
input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="time"], select {
  box-sizing: border-box;
}


/* Error Handling */
.error {
  color: #FF0000;
}

.error-box {
  border: 2px solid red;
  background-color: #ffe5e5;
  border-radius: 5px;
}

/* Button Styling */
input[type="submit"] {
  width: 100%;
  height: 40px;
  border: 0;
  background: var(--secondary-color);
  border-radius: 7px;
  outline: none;
  color: var(--white);
  cursor: pointer;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

input[type="submit"]:hover {
  background-color: var(--accent-color);
  transform: translateY(-2px); /* Effetto sollevamento */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1); /* Ombra più accentuata */
}

input[type="submit"]:active {
  background-color: var(--primary-color);
  transform: translateY(2px); /* Effetto pressione */
  box-shadow: none;
}

/* Reset Button */
input[type="submit"][name="reset"] {
  background-color: #f44336;
  margin-right: 10px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

input[type="submit"][name="reset"]:hover {
  background-color: #d32f2f;
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

input[type="submit"][name="reset"]:active {
  background-color: #c62828;
  transform: translateY(2px);
  box-shadow: none;
}

/* Button Focus for Accessibility */
input[type="submit"]:focus {
  outline: 2px solid var(--secondary-color);
  outline-offset: 4px;
}

/* General Button Hover Effect */
input[type="submit"]:hover, input[type="submit"][name="reset"]:hover {
  transition: all 0.3s ease-out;
  cursor: pointer;
  transform: scale(1.05); /* Leggera animazione di ingrandimento */
}

/* Text Styling */
.text-danger {
  color: #FF0000;
  font-size: 0.875rem;
  margin-top: 10px;
}

input[type="text"]:disabled, input[type="email"]:disabled, input[type="password"]:disabled, input[type="date"]:disabled, select:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

/*
#slots {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
  */

#slots {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonne di larghezza uguale */
  gap: 10px;
  margin-top: 10px;
}


.slot {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
}

.slot:hover {
  background-color: lightgray;
}

.slot.unavailable {
  background-color: red;
  color: white;
  cursor: not-allowed;
}

.slot.selected {
  background-color: green;
  color: white;
}